
.hidden-element{
    display: block;
    width: 100%;
    margin: auto;
}

#school-logo{
    width: 100px;
}

#employees-list {
    width: 100%;
    border: 1px solid;
}

.w3-button{
    border: none;
}

table, table th {
    margin: auto;
}