body{
    font-family: "Segoe UI",Arial,sans-serif;
    /*background: url(../img/bg.png) repeat;*/
    background-color: wheat;
}

.popover-title {
    background-color: #3333ff;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.popover {
    color: black;
    max-width: 40%;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: arial;
}

.page-body{
    background: url(../img/bg.png) repeat;
    min-height: 100%;
}

.left-div {
    float: left;
    position: fixed;
    overflow-y: scroll;
    max-height: 75%;
    direction:rtl;
    width: 30%;
}

.right-div {
    right: 15px;
    position: fixed;
    overflow-y: scroll;
    max-height: 75%;
}

#assignments-list, .right-div {
    float: right;
}

.print-btn {
    float: right;
    border: none;
}

.hidden-element{
    display: none;
}

.form-group{
    /*background-color: red;*/
    width: 100%;
}